html {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@font-face {
    font-family: "Avenir-Next";
    font-display: fallback;
    src: local("Avenir Next"), url("/fonts/avenir-next.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "Avenir-Next Bold";
    font-display: fallback;
    src: local("Avenir Next Bold"), url("/fonts/avenir-next-bold.woff") format("woff");
}

@font-face {
    font-family: "Avenir-Next";
    font-display: fallback;
    src: local("Avenir Next Demi"), url("/fonts/avenir-next-demi.woff2") format("woff2");
    font-weight: bold;
}
