.display-flex {
  display: flex; }

.display-column,
.flex-column {
  flex-direction: column; }

.flex-1 {
  flex: 1; }

.fuzzy-picker-background {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 300px;
  padding-top: 25vh;
  z-index: 100; }
  .fuzzy-picker-background .fuzzy-picker {
    max-width: 600px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0px 0px 16px #333;
    font-size: 1rem;
    display: flex;
    flex-direction: column; }
    .fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text {
      color: #AAA;
      margin-top: 0.5em;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.8em;
      user-select: none; }
      .fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-label {
        float: left; }
      .fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-instructions {
        float: right; }
        .fuzzy-picker-background .fuzzy-picker .fuzzy-picker-top-text .fuzzy-picker-instructions span {
          margin: 0.35em; }
    .fuzzy-picker-background .fuzzy-picker input[type=text] {
      border: 1px solid #DDD;
      border-radius: 4px;
      outline: none;
      flex: 1;
      font-size: 2.4em;
      padding: 1rem;
      margin: 0.5rem; }
    .fuzzy-picker-background .fuzzy-picker ul {
      list-style-type: none;
      padding-left: 0px;
      margin-top: 0.2em;
      margin-bottom: 0.5em; }
      .fuzzy-picker-background .fuzzy-picker ul li {
        margin: 0.1em 0.5rem;
        padding: 0.6em 0.5em;
        border-radius: 4px;
        cursor: pointer; }
        .fuzzy-picker-background .fuzzy-picker ul li.selected {
          background-color: #51c4c4;
          color: #FFF; }

body {
  margin: 0; }

#app .renderTree {
  flex: 1;
  max-width: 100%; }

#app #attributes {
  flex-basis: 200px; }

* {
  -webkit-overflow-scrolling: touch; }

.device-desktop {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .device-desktop > .block {
    flex-grow: 1;
    flex-wrap: wrap; }

.device-tablet {
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  flex-wrap: wrap; }
  .device-tablet > .block {
    flex-grow: 1;
    flex-wrap: wrap; }

.device-mobile {
  display: block;
  max-width: 768px; }

.device-mobile.editing {
  display: block;
  max-width: 320px;
  margin: auto; }

@keyframes flickerAnimation {
  0% {
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.4); }
  50% {
    border-style: dotted;
    border-color: rgba(0, 0, 255, 0.4); }
  100% {
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.4); } }

.block {
  position: relative;
  max-width: 100%; }
  .isEditing .block.isSelected {
    outline: 1px solid orange !important;
    z-index: 1; }
  .isEditing .block.isOver.inRow.rightHover {
    box-shadow: 2px 0 0 #00f !important; }
  .isEditing .block.isOver.inRow.leftHover {
    box-shadow: -2px 0 0 #00f !important; }
  .isEditing .block.isOver.inColumn.topHover {
    box-shadow: 0 -2px 0 #00f !important; }
  .isEditing .block.isOver.inColumn.bottomHover {
    box-shadow: 0 2px 0 #00f !important; }

.droppable-multid {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.isDragging .droppable-multid {
  display: block; }

.invisible-droppable {
  transition: all 0.2s ease-in-out;
  flex-basis: 0px;
  position: relative;
  align-self: stretch; }

.invisible-droppable.isDraggingOver {
  flex-basis: 10px;
  background: #0000ff88; }

.droppable {
  position: absolute;
  display: none;
  text-align: center; }

.droppable.droppable-column {
  top: -15px;
  bottom: -25px;
  left: 0;
  right: 0; }

.custom_block-block .droppable-add-button {
  display: none !important; }

.droppable-add-button {
  display: none;
  border-radius: 100%;
  padding: 5px; }

.droppable.droppable-row {
  left: -15px;
  right: -25px;
  top: 0;
  bottom: 0; }

.isDragging .droppable {
  display: block;
  z-index: 1; }

.isDragging .block:hover > * > .droppable {
  display: inline-block;
  background: rgba(23, 0, 222, 0.03); }

.isDragging .block {
  outline: 1px dashed rgba(0, 33, 223, 0.1); }

.droppable-inside {
  display: none;
  position: absolute;
  border: 1px dashed #ccc;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.droppable-inside.left {
  right: 80%; }

.droppable-inside.right {
  left: 80%; }

.droppable-inside.top {
  bottom: 80%; }

.droppable-inside.bottom {
  top: 80%; }

.empty-block.isDraggingOver > .droppable-inside {
  display: block; }

.droppable-multid.isDraggingOver::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 255, 0.2);
  animation: flickerAnimation 1s infinite; }

.modal-block > div > .drop-here > .droppable-multid {
  position: fixed; }

.modal-block > div > .drop-here > .droppable-multid.isDraggingOver::after {
  position: fixed; }

.droppable-multid.isDraggingOver.bottom::after {
  top: 100%;
  bottom: -8px; }

.droppable-multid.isDraggingOver.top::after {
  bottom: 100%;
  top: -8px; }

.droppable-multid.isDraggingOver.left::after {
  right: 100%;
  left: -8px; }

.droppable-multid.isDraggingOver.right::after {
  left: 100%;
  right: -8px; }

.droppable-multid.isDraggingOver.none::after {
  display: none; }

.isDraggingElm {
  transition: all 0.5s ease-in-out;
  animation: flickerAnimation 1s infinite; }

.drop-here {
  position: relative; }

.isEditing .drop-here {
  visibility: visible;
  border: 1px dashed #ddd;
  margin: 1px;
  min-height: 50px;
  min-width: 50px;
  height: 100%;
  width: 100%; }

.isNotEditing .drop-here {
  border: unset;
  margin: unset;
  min-height: unset;
  min-width: unset;
  width: unset; }

.block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.block:hover > .draggable-handler {
  display: block; }

.block.isSelected > .block-controls > .block-label {
  background: orange !important;
  color: white !important;
  border: none !important;
  display: block !important; }

.block.isSelected > .block-controls {
  display: flex;
  width: 100%; }

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }
  .container.container-column {
    flex-direction: column; }

@keyframes stretchToCenter {
  0% {
    align-self: center;
    height: 18px; }
  15% {
    height: 18px; }
  60% {
    height: 5px; }
  100% {
    align-self: center;
    height: 5px; } }

@keyframes stretchToEnd {
  0% {
    align-self: flex-end;
    height: 18px; }
  15% {
    height: 18px; }
  60% {
    height: 5px; }
  100% {
    align-self: flex-end;
    height: 5px; } }

@keyframes stretchToStart {
  0% {
    align-self: flex-start;
    height: 18px; }
  15% {
    height: 18px; }
  60% {
    height: 5px; }
  100% {
    align-self: flex-start;
    height: 5px; } }

@keyframes startToEnd {
  0% {
    align-self: flex-start;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(14px); }
  100% {
    transform: translateY(14px);
    align-self: flex-start;
    height: 5px; } }

@keyframes startToCenter {
  0% {
    align-self: flex-start;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(7px); }
  100% {
    transform: translateY(7px);
    align-self: flex-start;
    height: 5px; } }

@keyframes endToCenter {
  0% {
    align-self: flex-end;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(-7px);
    align-self: flex-end;
    height: 5px; } }

@keyframes endToStart {
  0% {
    align-self: flex-end;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(-14px); }
  100% {
    transform: translateY(-14px);
    align-self: flex-end;
    height: 5px; } }

@keyframes centerToEnd {
  0% {
    align-self: center;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(7px); }
  100% {
    transform: translateY(7px);
    align-self: center;
    height: 5px; } }

@keyframes centerToStart {
  0% {
    align-self: center;
    height: 5px;
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(-7px); }
  100% {
    transform: translateY(-7px);
    align-self: center;
    height: 5px; } }

@keyframes centerToStretch {
  0% {
    align-self: center;
    height: 5px; }
  15% {
    height: 5px; }
  60% {
    height: 19px; }
  100% {
    align-self: center;
    height: 19px; } }

@keyframes startToStretch {
  0% {
    align-self: flex-start;
    height: 5px; }
  15% {
    height: 5px; }
  60% {
    height: 19px; }
  100% {
    align-self: flex-start;
    height: 19px; } }

@keyframes endToStretch {
  0% {
    align-self: flex-end;
    height: 5px; }
  15% {
    height: 5px; }
  60% {
    height: 19px; }
  100% {
    align-self: flex-end;
    height: 19px; } }

@keyframes ReorderItemMoveLineBelow {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(8px); }
  100% {
    transform: translateY(8px); } }

@keyframes ReorderItemMove2LineBelow {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(20px); }
  100% {
    transform: translateY(20px); } }

@keyframes ReorderItemMoveLineAbove {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(0); }
  60% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(-8px); } }

@keyframes ReorderItemPrimary {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateX(0); }
  20% {
    transform: translateX(2px); }
  25% {
    transform: translateX(4px); }
  30% {
    transform: translateX(6px); }
  35% {
    transform: translateX(7px); }
  45% {
    transform: translateX(6px); }
  50% {
    transform: translateX(4px); }
  55% {
    transform: translateX(2px); }
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

@keyframes ReorderItemSecondary {
  0% {
    transform: translateX(0); }
  15% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2px); }
  25% {
    transform: translateX(-4px); }
  30% {
    transform: translateX(-6px); }
  35% {
    transform: translateX(-7px); }
  45% {
    transform: translateX(-6px); }
  50% {
    transform: translateX(-4px); }
  55% {
    transform: translateX(-2px); }
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

@keyframes AddItem {
  0% {
    transform: translateX(-20px) translateY(-5px);
    opacity: 0; }
  15% {
    transform: translateX(-20px) translateY(-5px);
    opacity: 0; }
  60% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes RemoveItem {
  0% {
    background: black;
    transform: translateX(0) translateY(0);
    opacity: 1; }
  15% {
    background: black;
    transform: translateX(0) translateY(0);
    opacity: 1; }
  60% {
    transform: translateX(-20px);
    opacity: 0; }
  100% {
    background: red;
    transform: translateX(-20px);
    opacity: 0; } }

@keyframes AnimateFlex {
  0% {
    flex: 0; }
  15% {
    flex: 0; }
  60% {
    flex: 1; }
  100% {
    flex: 1; } }
